rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {

    // Everyone can read, but only authenticated users can write
    match /{document=**} {
      allow read: if true;
      allow write: if request.auth != null;
    }
  }
}
